//============================
//    Name: Footer
//============================
myfooter {
	+__() {
		.background {
			background-color #0000
			background-position center center;
			background-repeat no-repeat;
			background-size: cover;
		}
		.box {
			display: grid;
			grid-auto-flow: column;		
			max-width 1400px
			margin-left auto
			margin-right auto
			padding-left 100px
			padding-right 100px
			+media(768) {
				padding-left 1rem
				padding-right 1rem
			}
			+media(425) {
				margin 20px 
				justify-content left
				padding unset
			}
		}
		.item {
			display: grid;
			padding-top 40px
			padding-bottom 40px
			+media(768) {
				padding-left 1rem
				padding-right 1rem
			}
			+media(425) {
				padding unset
				margin 20px auto
			}
		}
		.title {
			color: #fff;
		}
		.text {
			color: #111;
			font-setup(fmain, 14, 400);
			line-height: 1.71;
			letter-spacing: -0.3px;
		}
	}
}
 