//============================
//    Name: Header
//============================

$$header = #ffffff;
$$header-text = #4a4a4a;

myheader {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			max-width: 1400px;
			margin: auto;
			padding-left 100px
			padding-right 52px
			+media(768) {
				padding-left 1rem
				padding-right 1rem
			}
			+media(678) {
				grid-auto-columns: 1fr auto;
			}
		}
		.section--background {
			background-color $$header
		}
		.item {
			display: grid;
		}
		.burger {
			display none
			justify-content: center;
			align-items: center;
			+media(678) {
				display: grid;
			}
		}
		.menu {
			display: grid;
			gap: 0.4rem;
			padding 1rem
			transition .25s __cubic
			cursor pointer
			position relative
			&:before {
				content: '';
				display: grid;
				width: 3.5rem;
				height: 3.5rem;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: rgba(#ddd, 0.50);;
				position: absolute; 
				left -35%
				top 50%
				transform: translate(50%, -50%) scale(0);
				radius: 100%;
			}
		}
		.menu-line {
			background-color #47aa22;
			color: #47aa22;
			height 4px
			width 33px
			transition .25s __cubic
			z-index 2
			position relative
		}
		.navigat {
			display: grid;
			grid-auto-columns: auto;
			justify-content: space-between;
			grid-auto-flow: column; 
			align-items: center;
			padding 40px 0;
		}
		.navigat--clone {
			+min-media(678) {
				display none
				overflow hidden
			}
			padding unset
		}
		.list {
			display: grid;
			grid-auto-flow: column;
			gap: 80px;
			+media(768) {
				gap: 1rem;
			}
			+media(678) {
				height 0
				min-height 0
				overflow hidden
				grid-auto-flow: row;
				grid-auto-columns: min-content;
				transition: all .33s ease;
				padding: 0 1.2rem 0;
			}
		}
		.list-item {
			text-decoration none
			color: $$header-text
			transition: .25s __cubic;
			&:after {
				content: '';
				display: grid;
				transform: scaleX(0);
				transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
				border-bottom: 0.125rem solid #47aa22;
				transform-origin: 0% 50%;
				backface-visibility: hidden;
			}
			&:hover { 
				+media(678) {
					margin-left: .3rem;
				}
			}
			&:hover:after {
				transform: scaleX(1);
			}
		}
	}
}

.myheader__list.open {
	animation humburger-grow .45s forwards
	min-height 10rem
	padding: .8rem 1.2rem 40px;
}

+key(humburger-grow) {
	0% {
		min-height 0
	}
	100% {
		min-height 10rem
	}
}


mixHoverHumburger() {
	__deg = 315
	__width = 100%
	__trfX = 8px
	__trfY = 7px
	__delay = .0s
	
	.myheader__menu-line:nth-child(1) {
		transform: rotate(- __deg deg) translate(__trfX, __trfY);
		width __width
		transition-delay __delay + .200
	}
	.myheader__menu-line:nth-child(2) {
		opacity 0
		transform: translate(0, 0) rotate(0) scale(0);
		transition-delay __delay 
	}
	.myheader__menu-line:nth-child(3) {
		transform: rotate( __deg deg) translate((__trfX - 1), - __trfY);
		width __width
		transition-delay __delay  + .050
	}
}
.myheader__menu:hover:before {
	transition: .25s __cubic;
	transform: translate(50%, -50%) scale(1);
}
.myheader__menu-line {
	user-select none
}

.myheader__menu.open {
	mixHoverHumburger();
}
