//============================
//    Name: Main page
//============================

$$bigscreen = #f0f0f0;
$$gallery-text = #4a4a4a;
$$tools-title = #2b2b2b;
$$tools-text = $$gallery-text;
$$tools-label = #a7aeb4;
$$tools-input = #111111;
$$tools-button = #47aa22;
$$gallery = #a7aeb4;
	
img {
	max-width: 100%;
}
input:required, input:invalid {
	box-shadow: 0 1px 1px rgba(17,17,17,0.05), 0 1px 3px rgba(17,17,17,0.08);
}
	
startpage {
	+__() {
		.background {
			background-color $$bigscreen
			background-position center center;
			background-repeat no-repeat;
			background-size: cover;
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			max-width: 1400px;
			margin-left: auto;
			margin-right: auto;
			padding-left 100px
			padding-right 100px
			margin-top 79px
			margin-bottom 80px	
			+media(992) {
				grid-auto-columns: minmax(1rem, auto);
			}
			+media(768) {
				padding-left 1rem
				padding-right 1rem
			}
			+media(425) {
				margin 40px auto
			}
		}
		.title {
			font-setup(fmain, 60, 700);
			text-transform uppercase
			line-height: 0.93;
			letter-spacing: -1.5px;
			max-width 792px
			+media(425) {
				font-setup(fmain, 22, 700);
				line-height: 1;
				letter-spacing: -0.5px;
			}
		}
		.desc {
			font-setup(fmain, 18, 300);
			line-height: 1.67;
			letter-spacing: -0.2px;
			margin-top 40px
			max-width 690px
			+media(425) {
				font-setup(fmain, 14, 400);
				line-height: 1.57;
				letter-spacing: -0.3px;
			}
		}
		.image {
			background-color #ccc;
			height: max-content;
		}
		.bigscreen {
			display: grid;
			grid-auto-flow: column;
			grid: auto \/ repeat(auto-fit, minmax(14rem, 1fr));
			gap: 24px;
			margin-top 51px
		}
		.text {
			margin-top 20px
			font-setup(fmain, 16, 400);
			line-height: 1.75;
			letter-spacing: -0.3px;
			color: $$bigscreen-text;
			+media(425) {
				font-setup(fmain, 14, 400);
				line-height: 1.57;
				letter-spacing: -0.3px;
			}
		}
	}
}

tools {
	+__() {
		.unset-overflow {
			overflow visible
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			max-width: 1400px;
			margin-left: auto;
			margin-right: auto;
			margin-top 80px
			margin-bottom 80px
			padding-left 100px
			padding-right 100px
			+media(992) {
				grid-auto-columns: minmax(1rem, auto);
			}
			+media(768) {
				padding-left 1rem
				padding-right 1rem
			}
			+media(425) {
				margin 40px auto
			}
		}
		.item {
			
		}
		.group:not(:first-child) {
			margin-top 80px
		}
		.title {
			font-setup(fmain, 44, 700);
			line-height: 1;
			letter-spacing: -1px;
			color: $$tools-title
			text-transform uppercase
			+media(425) {
				font-setup(fmain, 20, 700);
				line-height: 1.1;
				letter-spacing: -0.5px;
			}
		}
		.sort {
			margin-top 40px
		}
		.sort-title {
			+media(425) {
				visibility hidden
			}
		}
		.sort-title, .sort-car {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
			gap: 1rem;
		}
		.sort-item, .sort-header {
			max-width 186px
			overflow hidden;
			text-overflow: ellipsis;

		}
		.sort-item {
			+media(425) {
				+media(425) {
					grid-row: 2/3;
				}
			}
		}
		.sort-item:last-child {
			color: $$tools-button;
			+media(425) {
				grid-column: 3/5;
				grid-row: 1/2;
			}
		}
		.sort-line {
			padding-bottom 30px
			border-top 2px solid #0000;
		}
		.sort-line:not(:first-child) {
			padding-top 30px
			border-top 2px solid #e2e2e2;
		}
		.sort-line:last-child {
			padding-bottom unset
		}
		.sort-header, .sort-item {
			font-setup(fmain, 16, 400);
			line-height: 1.75;
			letter-spacing: -0.3px;
			color: $$tools-text
			+media(425) {
				font-setup(fmain, 14, 400);
				line-height: 1.57;
				letter-spacing: -0.3px;
			}
		}
		.sort-item:first-child {
			font-weight 600
			+media(425) {
				grid-column: 1/3;
				grid-row: 1/2;
			}
		}
		.desc {
			font-setup(fmain, 18, 300);
			line-height: 1.67;
			letter-spacing: -0.2px;
			max-width 690px
			margin-top 40px
			color: $$tools-text
		}
		.form-box {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr auto
			grid: auto \/ repeat(auto-fit, minmax(280px, 282px));
			justify-content: start;
			align-items: center;
			gap: 24px;
			margin-top 40px
			+media(575) {
				justify-content center
			}
		}
		.form-group {
			position relative
		}
		.form-group:last-child {
			+min-media(1366) {
				text-align right
			}
			+media(1366) {
				text-align left
			}
			+media(991) {
				text-align right
			}
			+media(575) {
				text-align center
			}
		}
		.span-select {
			position: absolute;
			right: 1rem;
			top: 50%;
			transform translate(0, -45%)
			width: 1rem;
			height: 1rem;
			fill: #0000;
			stroke: #ccc;
			transition: .25s __cubic;
			pointer-events: none;
		}
		.label {
			position absolute
			left 15px
			top 6px
			font-setup(fmain, 12, 400);
			line-height: normal;
			letter-spacing: -0.3px;
			color: $$tools-label;
			pointer-events: none;
		}
		.input {
			x-color = $$tools-input;
			width: 100%;
			max-width: 282px;
			font-setup(fmain, 15px, 400)
			radius: 6px;
			background-color #ffffff;
			padding 21px 15px 5px
			text-decoration: none;
			text-align left
			color: x-color;
			border 1px solid rgba(x-color, 0.05);
			box-shadow: 0 1px 1px rgba(x-color, 0.05), 0 1px 3px rgba(x-color, 0.08);
			transition .25s __cubic
			cursor pointer
			&:focus {
				x-color = $$tools-button;
				color: #111
				border 1px solid rgba(x-color, 0.16);
				box-shadow: 0 3px 6px rgba(x-color, 0.10), 0 3px 6px rgba(x-color, 0.16);
			}
			&:hover {
				x-color = $$tools-button;
				border 1px solid rgba(x-color, 0.33);
			}
		}
		.button {
			x-color = $$tools-button
			font-setup(fmain, 14, 700);
			width: 240px;
			height: 50px;
			border: 1px solid #0000;
			background-color x-color;
			radius: 25px;
			line-height: normal;
			letter-spacing: -0.3px;
			color #fff;
			transition .25s __cubic
			text-decoration none
			cursor pointer
			+media(425) {
				width 100%
			}
			&:hover {
				background-color darken(x-color, 23%)
			}
			&:active {
				background-color darken(x-color, 33%)
			}
		}
	}
}

.tools__input.warning {
	border 1px solid tomato;
}

.dropdown {
	&__select {
		x-color = $$tools-button;
		transform scale(0);
		position: absolute;
		top: 3.5rem;
		width 100%
		text-decoration: none;
		list-style: none;
		padding: 0.5rem 0;
		margin: 0;
		z-index 123;
		transition .25s __cubic
		radius: 6px;
		background-color #fff;
		border 1px solid rgba(x-color, 0.22);
		box-shadow: 0 3px 6px rgba(x-color, 0.1), 0 3px 6px rgba(x-color, 0.16);
		transition .25s __cubic
		li {
			min-height 33px
			padding 0.5rem 1rem
			font-setup(fmain, 15px, 400)
			transition .25s __cubic
			cursor pointer
			user-select none;
			&:hover {
				color: $$tools-button
				background-color #eefeec;
			}
		}
	}
}
.dropdown__select.open {
	animation dropdown-select .35s forwards
}


.tools__input {	
	&:hover + label + .tools__span-select {
		stroke: $$tools-button;
	}
	&:focus + label + .tools__span-select {
		stroke: $$tools-button;
		& svg {
			transform: rotate(-180deg);
		}
	}
	&:hover + .tools__label {
		transition: .25s __cubic;
		color: $$tools-button;
	}
	&:focus + .tools__label {
		transition: .25s __cubic;
		color: $$tools-button;
	}
}

.glyphs__arrow {
	&-left, &-right {
		fill: #0000;
		stroke: #fff;
		width 14px
		height 28px
	}
}
.glyphs__arrow-selector {
	transition: .25s __cubic;
}


gallery {
	+__() {
		.background {
			background-color $$gallery
			background-position center center;
			background-repeat no-repeat;
			background-size: cover;
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			max-width: 1400px;
			margin-left: auto;
			margin-right: auto;
			padding-left 100px
			padding-right 100px
			padding-top 80px
			padding-bottom 80px
			position: relative;
			+media(768) {
				padding-left 1rem
				padding-right 1rem
			}
			+media(425) {
				padding unset
				margin 40px auto
			}
		}
		.title {
			font-setup(fmain, 44, 700);
			line-height: 1;
			letter-spacing: -1px;
			color: #fff;
			text-transform uppercase
			+media(425) {
				font-setup(fmain, 20, 700);
				padding 0 1rem
			}
		}
		.slider {
			margin-top 40px
			overflow hidden
			+media(425) {
				margin-top 20px
				margin-bottom 20px
			}
		}
		.content {
			display: grid;
			font-size: 0;
			position relative
		}
		.arrow {
			+media(425) {
				display none
			}
			&-left, &-right {
				display: grid;
				grid-auto-flow: column;
				position absolute
				top 55.55%
				transform translate(0, -55.55%)
				cursor pointer
				background-color #111
				width: 52px;
				height: 110px;
				justify-content: center;
				align-items: center;
				transition: .25s __cubic;
				user-select none
				&:hover {
					background-color $$gallery-text;
				}
			}
			&-left {
				left 0  
			}
			&-right {
				right 0 
			}
		}
		.play {
			display: grid;
			position: absolute;
			height: 100%;
			width: 100%;
			justify-content: center;
			align-items: center;
		}
		.play-button {
			display: grid;
			justify-content: center;
			align-items: center;
			width w = 134px
			height h = 134px
			background-color #111;
			radius: 100%;
			cursor pointer
			user-select none
			transition: .25s __cubic;
			overflow hidden
			+media(425) {
				width (w / 2)
				height (h / 2)
			}
		}
		.play-button-style {
			position: relative;
			fill: $$tools-button;
			stroke: #0000;
			width w = 58px
			height h = 58px
			transition: .25s __cubic;
			+media(425) {
				width (w / 2)
				height (h / 2)
			}
		}
		.play-stopper {
			visibility: hidden;
			width: 100%;
			height: 100%;
			background: #0000;
			position: absolute;
			z-index: 123;
			cursor pointer
		}
		.picture-swap {
			display: grid;
			height: 750px;
			img {
				display none
			}
			+media(1199) {
				height 560px
			}
			+media(991) {
				height 435px
			}
			+media(678) {
				height auto
			}
		}
		.navbar {
			display: inline-grid;
			grid-auto-flow: column;
			grid-auto-rows: min-content;
			gap: 0.5rem;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
			bottom: 2rem;
			cursor: pointer;
			
			user-select none
			+media(425) {
				bottom -1rem
			}
		}
		.navbar-dots {
			display: grid;
			width 1rem
			height 1rem
			background-color rgba(74, 74, 74, 0.3);
			radius: 100%;
			transition: .25s __cubic;
			
			user-select none
			&:hover {
				transform scale(1.3)
				background-color rgba(74, 74, 74, 0.5);
			}

		}
	}
}

.gallery__picture-swap {
	img.active {
		display: grid;
	}
}

.gallery__navbar-dots { 
	&.active {
		animation navbar-dots .35s forwards
	}
}

.gallery__play-button {
	&:hover {
		background-color $$gallery-text
	}
	&:hover &-style {
		fill: #fff;
	}
}

+key(move-arrow-right) {
	0% {
		transform translate(0, 0) scale(1)
	}

	100% {
		transform translate(160%, 0) scale(0)
	}
}

+key(navbar-dots) {
	0% {
		transform scale(1)
	}
	55% {
		background-color rgba(74, 74, 74, 0.3)
		transform scale(1.35)
	}
	65% {
		background-color #fff
		transform scale(.65)
	}
	75% {
		background-color #fff
		transform scale(0.85)
	}
	100% {
		background-color #fff
		transform scale(1)
	}
}

+key(dropdown-select) {
	0% {
		transform translate(0, -7rem) scale(0)
	}
	45% {
		transform translate(0, -0.5rem) scale(1)
	}
	55% {
		transform translate(0, 0.5rem) scale(1)
	}
	100% {
		transform translate(0, 0rem) scale(1)
	}
}