<section class="unknown-page__section">
	<div class="unknown-page__box">
		<div class="unknown-page__left">
			<img class="img-fluid align-self-center" alt="Picture" title="Picture" src="../media/img/404.jpg">
			</div>
			<div class="unknown-page__right">
				<h1 class="unknown-page__h1 text-center"> <strong>Ошибка 404 - Страница не найдена...</strong></h1>
				<h3> - Что делать???</h3>
				<ul class="unknown-page__ul">
					<li>Пару раз перезагрузить страницу (нажать на символ <span class="unknown-page__symbol">⟳</span> или на клавишу клавиатуры <span class="unknown-page__symbol">F5</span>)</li>
					<li>Попробовать найти ошибки в написании URL</li>
					<li>Воспользоваться кнопкой <span class="unknown-page__symbol">←</span> "Вернутся назад"</li>
					<li>Возможно стоит <a class="unknown-page__href" href="/">перейти на главную страницу?!</a></li>
				</ul>
			</div>
		</div>
</section>
