<div role="contentinfo" class="myfooter__section myfooter__background">
	<address class="myfooter__box">
		<div class="myfooter__item">
			<p class="myfooter__text">© ŠKODA AUTO Россия 2018</p> 
		</div>
	</address>
</div> 
