<section class="startpage__section startpage__background">
	<div class="startpage__box">
		<h1 class="startpage__title">причины стать владельцем škoda superb</h1>
		<p class="startpage__desc">Представьте себе автомобиль, в котором отсутствует грань между красотой и функциональностью, а дизайн и пространство находятся в абсолютной гармонии.</p>
		<div class="startpage__group startpage__bigscreen">
			<div class="startpage__bigscreen-item">
				<img class="startpage__image" src="./media/img/bigscreen-1.jpg" alt="Picture" title="Picture">
				<p class="startpage__text">Премиальные технологии, невероятный комфорт и вместительность</p>
			</div>

			<div class="startpage__bigscreen-item">
				<img class="startpage__image" src="./media/img/bigscreen-2.jpg" alt="Picture" title="Picture">
				<p class="startpage__text">Специальные серии с 4х4 Sportline</p>
			</div>


			<div class="startpage__bigscreen-item">
				<img class="startpage__image" src="./media/img/bigscreen-3.jpg" alt="Picture" title="Picture">
				<p class="startpage__text">Возможность приобретения кузова Limo или кузова Combi</p>
			</div>

		</div>

	</div>
</section>
<section class="tools__section tools__unset-overflow">
	<div class="tools tools__box">
		<div class="tools__group">
			<h3 class="tools__title">Доступные комплектации</h3>
			<div class="tools__sort js__sortTable">
				<div class="tools__sort-title tools__sort-line">
					<div class="tools__sort-header">💀 Ouch, database error...</div>
				</div>
				<div class="tools__sort-car tools__sort-line">
					<div class="tools__sort-item">💀 Ouch, database error...</div>
				</div>
			</div>
		</div>
		<div class="tools__group">
			<h3 class="tools__title">Запрос предложения</h3>
			<p class="tools__desc">Оставьте заявку на интересующую вас комплектацию и мы сделаем вам лучшее предложение!</p>
			<form id="tools-form" class="tools__form tools__form-box" action="#" method="POST" enctype="ultipart/form-data" autocomplete="off" onsubmit="return false;">
				<div class="tools__form-group js__createDropList">
					<input id="tools-select" class="tools__input" type="button" name="select" required>
					<label for="tools-select" class="tools__label">Комплектация</label>
					<span class="tools__span-select">
						<svg role="picture-svg" class="glyphs__arrow-selector"><use xlink:href="#id-glyphs-arrow-selector"></use></svg>
					</span>
				</div>
				<div class="tools__form-group">
					<input id="tools-name" class="tools__input" type="text" name="name" required>
					<label for="tools-name" class="tools__label">Ваше имя</label>
				</div>
				<div class="tools__form-group">
					<input id="tools-phone" class="tools__input" type="tel" name="phone" data-phone="true" required>
					<label for="tools-phone" class="tools__label">Телефон</label>
				</div>

				<div class="tools__form-group">
					<button form="tools-form" name="button" class="tools__button">Отправить заявку</button>

				</div>
			</form>
		</div>
	</div>
</section>

<section class="gallery__section gallery__background">
	<div class="gallery gallery__box">
		<h3 class="gallery__title">галерея</h3>
		<div class="gallery__slider">

			<div class="gallery__content">
				<div class="gallery__play">
					<span class="gallery__play-button"><svg role="picture-svg" class="glyphs__arrow-right-corner gallery__play-button-style"><use xlink:href="#id-glyphs-arrow-right-corner"></use></svg></span>
					<span class="gallery__play-stopper">&nbsp;</span>
				</div>
				<div class="gallery__picture-swap js__slideMyPicture">
					<img class="active" src="./media/img/gallery-1.jpg" alt="Picture" title="Picture">
					<img class="" src="./media/img/gallery-2.jpg" alt="Picture" title="Picture">
					<img class="" src="./media/img/gallery-3.jpg" alt="Picture" title="Picture">
					<img class="" src="./media/img/gallery-4.jpg" alt="Picture" title="Picture">
					<img class="" src="./media/img/gallery-5.jpg" alt="Picture" title="Picture">
					<img class="" src="./media/img/gallery-6.jpg" alt="Picture" title="Picture">
					<img class="" src="./media/img/gallery-7.jpg" alt="Picture" title="Picture">
				</div>
			</div>
				<div class="gallery__arrow">
					<span class="gallery__arrow-left"><svg role="picture-svg" class="glyphs__arrow-left"><use xlink:href="#id-glyphs-arrow-left"></use></svg></span>
					<span class="gallery__arrow-right"><svg role="picture-svg" class="glyphs__arrow-right"><use xlink:href="#id-glyphs-arrow-right"></use></svg></span>
				</div>
				<div class="gallery__navbar js__slideMyPictureNavbar">
					<span class="gallery__navbar-dots">💀 Ouch, database error...</span>
				</div>
			</div>
		</div>
</section>

<div class="__device__">&nbsp;</div>
